﻿@model MRZValidator.Models.PassportViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="container body-content border background-red">
    @using (Html.BeginForm("Validate", "Home"))
    {
    <div class="form-horizontal">
        <h2>MRZ Validator</h2>
        <hr />

        <div class="container">
            <div class="col-md-3">
                <div class="form-group">
                    <img src="~/images/person_.png" alt="Lights" style="width:100%">
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    @Html.ValidationSummary(true)
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-md-2">
                        @Html.LabelFor(model => model.PassportId)
                    </div>
                    <div class="col-xs-8 col-md-5">
                        @Html.TextBoxFor(model => model.PassportId, new { @class = "form-control", @placeholder= "e.g. ZE0005093" })
                        @Html.ValidationMessageFor(model => model.PassportId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-md-2">
                        @Html.LabelFor(model => model.Nationality)
                    </div>
                    <div class="col-xs-8 col-md-5">
                        @Html.TextBoxFor(model => model.Nationality, new { @class = "form-control", @placeholder = "e.g. CAN" })
                        @Html.ValidationMessageFor(model => model.Nationality)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-md-2">
                        @Html.LabelFor(model => model.DateOfBirth)
                    </div>
                    <div class="col-xs-3 col-md-2">
                        @Html.DropDownList("DobDay", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DobDay)
                    </div>
                    <div class="col-xs-3 col-md-2">
                        @Html.DropDownList("DobMonth", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DobMonth)
                    </div>
                    <div class="col-xs-3 col-md-2">
                        @Html.DropDownList("DobYear", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DobYear)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-md-2">
                        @Html.LabelFor(model => model.Gender)
                    </div>
                    <div class="col-xs-3 col-md-2">
                        @Html.DropDownList("Gender", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3 col-md-2">
                        @Html.LabelFor(model => model.DateOfExpiry)
                    </div>
                    <div class="col-xs-3 col-md-2">
                        @Html.DropDownList("DoeDay", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DoeDay)
                    </div>
                    <div class="col-xs-3 col-md-2">
                        @Html.DropDownList("DoeMonth", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DoeMonth)
                    </div>
                    <div class="col-xs-3 col-md-2">
                        @Html.DropDownList("DoeYear", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DoeYear)
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="mzr-line row vertical-align">
                <div class="form-group">
                    <div class="col-xs-3 col-md-2 text-center align-middle">
                        @Html.LabelFor(model => model.MZR)
                    </div>
                    <div class="col-xs-8 col-md-8">
                        @Html.TextBoxFor(model => model.MZR, new { @class = "form-control", @placeholder = "e.g. ZE00050932CAN8501019F2301147<<<<<<<<<<<<<<02" })
                        @Html.ValidationMessageFor(model => model.MZR)
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" value="Validate" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-12 text-center text-red">@ViewBag.ErrorMessage</div>
    </div>
    }
</div>