﻿@model List<ResultViewModel>

@{
    ViewData["Title"] = "Result";
}
<div class="container body-content">
    <h2>Result</h2>
    <hr />
    <table class="table table-bordered table-responsive table-hover">
        <tr>

            <th class="col-lg-3">
                Check
            </th>
            <th class="col-lg-3">
                Result
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @if (item.Value)
                    {
                        @Html.Label("Pass")
                    }
                    else
                    {
                        @Html.Label("Fail")
                    }
                </td>
            </tr>
        }
    </table>
</div>

