﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.border {
    border-style: solid;
    border-width: 1px;
}

.mzr-line {
    padding-top: 20px;
    padding-bottom: 20px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}

.background-red {
    background-color: #EEB4B4;
}

.text-red {
    color: red;
}